$white: #fff;
$black: #000;


$dark-grey: #333;
$grey: #999;
$light-grey: #ddd;

/* Font Styles */
$arial: Arial, Helvetica, sans-serif;
$font-main: 'Barlow', $arial;
$font-mono: 'Roboto Mono', monospace;