@import 'config';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: $dark-grey;
}

body {
  font-family: $font-main;
}

* {
  box-sizing: border-box;
}

#main-container {
  position: relative;
  z-index:2;
  width: 100%;
  height: 100%;
}